/* custom css goes here */
.Vapor {
    background-image: url('../images/vapor.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  body
  {
    background-color: rgb(90, 90, 90);
  }
  h1.container{
    border-radius: 10px;
    width: 70%;
    height: 90px;
    margin: 0px auto;
    background: linear-gradient(90deg,#06bfee,#fb0093)
  }
  h1.projects{
    background-color: white;
  }
  .contact-table{
    width: 100%;
    margin:  50px auto;
    background-color: white;
  }
  .contact-form
  {
    width: 100%;
    margin:  100px auto;
  }
  .warnMessage
  {
    width: 90%;
    margin:  50px;
  }
  .site-footer {
    color:white;
  }